<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>inProduction</key>
  <false/>
  <key>developmentAppKey</key>
  <string>NGKir7QlSImvdr_wUNfpyA</string>
  <key>developmentAppSecret</key>
  <string>kGHChRScQBS6lSEczqsIhA</string>
</dict>
</plist>